<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG.Maven.NewTest"/>
      <class name="testNG.Maven.NewTestTwo"/>
      <class name="testNG.Maven.NewTestThree"/>
      <class name="testNG.Maven.Hope"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- TestSuite -->
